.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: transparent;
    transform-style: preserve-3d;
    transition: 150ms;
    cursor: pointer;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
    height: 100%;
    width: 100%;
    z-index: 99;
    top: 0;
    left: 0;
}



.card.flip {
    transform: rotateY(180deg);
}


.card .front,
.card .back {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
}

.card .back {
    transform: rotateY(180deg);
}

.card .back image {
    max-width: 75px;
}