.GradientArena {
    position: relative;
    text-align: center;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../../assets/giphy.gif");
}