.SelectWidget {
    max-height: 100%;
    font-size: 18px;
    font-weight: bold;
    border-color: #424B54;
    border-style: solid;
    border-width: 20px;
    background-color: var(--primary);
}

.BattleSelectorCards {
    height: 60vh;
    overflow-y: auto;
}

.card-container {
    padding: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.card-container:hover {
    cursor: pointer;
}