/*.center-container {*/
/*    display: flex;*/
/*    justify-content: center; !* Center horizontally *!*/
/*    align-items: center; !* Center vertically *!*/
/*    height: 100vh; !* Ensure the container takes up the full height of its parent *!*/
/*}*/

/*.grid-container {*/
/*    display: grid;*/
/*    grid-template-columns: 35vh 50vh 35vh; !* Example: 3 columns with different widths *!*/
/*    grid-template-rows: auto; !* Auto-sized rows, adjust as needed *!*/
/*    gap: 26px; !* Gap between grid items *!*/
/*}*/

/*.span-two-rows {*/
/*    grid-row: span 2;*/
/*}*/

/*.span-two-rows-and-columns {*/
/*    grid-row: span 2;*/
/*    grid-column: span 2;*/
/*}*/

/*.top-row {*/
/*    height: 20vh;*/
/*}*/

/*.bottom-row {*/
/*    height: 40vh;*/
/*}*/

.full-xl{
    height: 70rem;
    width: 85rem;
}

.full-lg{
    height: 62rem;
    width: 60rem;
}

.full-md{
    height: 39rem;
    width: 40rem;
}

/*.full-default{*/
/*    height: 40rem;*/
/*    width: 40rem;*/
/*}*/

.threefourths-xl{
    height: 53rem;
    width: 30rem;
}

.threefourths-lg{
    height: 45rem;
    width: 21rem;
}

.threefourths-md{
    height: 28rem;
    width: 21rem;
}

/*.threefourths-default{*/
/*    height: 30rem;*/
/*    width: 21rem;*/
/*}*/

.half-xl{
    height: 35rem;
    width: 40rem;
    margin-left: 20rem;
}

.half-lg{
    height: 28rem;
    width: 30rem;
    margin-left: 10rem;
}

.half-md{
    height: 21rem;
    width: 26.5rem;
    margin-left: 5rem;
}

/*.half-default{*/
/*    height: 22.5rem;*/
/*    width: 26.5rem;*/
/*}*/

.quarter-xl{
    height: 16rem;
    width: 40rem;
    margin-bottom: 1rem;
}

.quarter-lg{
    height: 17rem;
    width: 30rem;
}

.quarter-md{
    height: 10rem;
    width: 26.5rem;
    margin-bottom: 1rem;
}

/*.quarter-default{*/
/*    height: 2rem;*/
/*    width: 26.5rem;*/
/*}*/

.play-buttons-xl{
    height: 17.5rem;
    width: 40rem;
    margin-left: 20rem;
}

.play-buttons-lg{
    height: 17rem;
    width: 30rem;
    margin-left: 10rem;
}

.play-buttons-md{
    height: 9rem;
    width: 26.5rem;
    margin-left: 5rem;
}

/*.play-buttons-default{*/

/*}*/

.tall-xl{
    height: 45rem;
    width: 27rem;
}

.tall-lg{
    height: 38rem;
    width: 18rem;
}

.tall-md{
    height: 21rem;
    width: 18rem;
}

/*.tall-default{*/
/*    height: 12rem;*/
/*    width: 18rem;*/
/*}*/

.friendsWidget-xl{
    height: 16rem;
    width: 29rem;
}

.friendsWidget-lg{
    height: 16rem;
    width: 20rem;
}

.friendsWidget-md{
    height: 10rem;
    width: 20rem;
}

/*.friendsWidget-default{*/
/*    height: 15rem;*/
/*    width: 20rem;*/
/*}*/

.friends-xl{
    height: 11rem;
    width: 27rem;
}

.friends-lg{
    height: 11rem;
    width: 18rem;
}

.friends-md{
    height: 5rem;
    width: 18rem;
}

/*.friends-default{*/
/*    height: 10rem;*/
/*    width: 15rem;*/
/*}*/
