.Widget {
    height: 100%;
    background-color: #424B54;
    padding: 1em;
    border-radius: 10px;
}

.Widget p {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    background-color: var(--primary);
    border-radius: 10px;
}